<div class="container">
    <h2>Productos</h2>
    <ul id="hoteles">
        <li class="elemento" *ngFor="let hotel of  hoteles; let i = index" >
            <img src="../../../assets/images/hotel.png">
    
            <p *ngIf="localUser.cluster_Alojamiento == hotel.cluster"><span [style.background]="true ? 'red' : 'transparent'">Recomendado</span></p>
            <p>Hotel: {{ hotel.hotel}} </p>
            <p>Habitacion: {{hotel.name}} </p>
            <p>Precio: {{hotel.price}}</p>
            <a [routerLink]="['/contact']" [routerLinkActive]="['active']">
                <button (click)="onComprar()"> Comprar </button>
            </a>
        </li>
    </ul>

    <ul id="museos">
        <li class="elemento" *ngFor="let museo of  museos" >
            <p *ngIf="localUser.cluster_Museo == museo.cluster"><span [style.background]="'red'">Recomendado</span></p>
            <img src="../../../assets/images/museum.png">
            
            <p>Museo: {{ museo.nombre}} </p>
            <p>Barrio: {{museo.barrio}} </p>
            <p>Precio: {{museo.precio}}</p>
            <a [routerLink]="['/contact']" [routerLinkActive]="['active']">
                <button (click)="onComprar()"> Comprar </button>
            </a>
        </li>
    </ul>
</div>
