<div class="container">
    <h2>{{title}}</h2>

    <form #projectForm="ngForm" (onSubmit)="onSubmit(projectForm)">

        <p>
            <label for="name">Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" />
        </p>

        <p>
            <label for="description">Description</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description"></textarea>
        </p>
            
        <p>
            <label for="category">Category</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" />
        </p>

        <p>
            <label for="year">Year</label>
            <input type="text" name="year" #year="ngModel" [(ngModel)]="project.year" />
        </p>

        <input type="submit" value="Enviar">
        

    </form>
</div>