
<div class="container">
    <h2>Usuarios</h2>
    <ul id="lista">
        <li class="elemento" *ngFor="let user of users" >
            <img src="../../../assets/images/person.png">
            <p>Nombre: {{user.nombre}} </p>
            <p>Edad: {{user.edad}} </p>
            <p>Cluster: {{user.cluster}}</p>
            <a [routerLink]="['/contact']" [routerLinkActive]="['active']">
                <button (click)="onRecomend(user)" >Recomendar</button>
            </a>
            
        </li>
    </ul>
</div>